@model List<RestaurantMenuManager.Models.Order>

<div class="container mt-5">
    <h2 class="text-white mb-4">📦 Alınan Siparişler</h2>

    @if (!Model.Any())
    {
        <div class="alert alert-info">
            Henüz sipariş yok.
        </div>
    }
    else
    {
        @foreach (var order in Model)
        {
            <div class="card mb-4 p-3">
                <h5>
                    🕒 @order.OrderDate.ToString("dd.MM.yyyy HH:mm")
                </h5>
                <a asp-controller="Orders"
                   asp-action="Edit"
                   asp-route-id="@order.Id"
                   class="btn btn-warning btn-sm mb-2">
                    ✏️ Güncelle
                </a>

                <a asp-controller="Orders"
                   asp-action="Cancel"
                   asp-route-id="@order.Id"
                   class="btn btn-danger btn-sm mb-2"
                   onclick="return confirm('Bu siparişi iptal etmek istediğinize emin misiniz?');">
                    ❌ Siparişi İptal Et
                </a>
                <p>
                    <strong>Müşteri:</strong>
                    <span class="text-primary fw-semibold">
                        @order.CustomerName
                    </span>
                </p>

                <p>
                    <strong>Toplam Tutar:</strong>
                    <span class="badge bg-success">
                        @order.TotalPrice ₺
                    </span>
                </p>

                <table class="table table-sm mt-2">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                            <th>Adet</th>
                            <th>Toplam</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in order.OrderItems)
                        {
                            <tr>
                                <td>@item.MenuItemName</td>
                                <td>@item.UnitPrice ₺</td>
                                <td>@item.Quantity</td>
                                <td>@(item.UnitPrice* item.Quantity) ₺</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
