@model IEnumerable<RestaurantMenuManager.Models.MenuItem>

<div class="container mt-5">

    <h2 class="text-white mb-4">🍽️ Menü Öğeleri</h2>
    <form method="get" class="row g-3 mb-4">

        <div class="col-md-3">
            <input type="text"
                   name="search"
                   class="form-control"
                   placeholder="Menü adı ara..." />
        </div>

        <div class="col-md-3">
            <select name="categoryId" class="form-select">
                <option value="">Kategori Seç</option>
                @foreach (var cat in ViewBag.Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </select>
        </div>

        <div class="col-md-2">
            <input type="number"
                   name="minPrice"
                   class="form-control"
                   placeholder="Min ₺" />
        </div>

        <div class="col-md-2">
            <input type="number"
                   name="maxPrice"
                   class="form-control"
                   placeholder="Max ₺" />
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-dark w-100">
                🔍 Filtrele
            </button>
        </div>

    </form>


    <a asp-action="Create" class="btn btn-success mb-3">
        ➕ Yeni Menü Ekle
    </a>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card p-3">
                    <h5>@item.Name</h5>
                    <p>@item.Description</p>

                    <span class="badge bg-warning text-dark">
                        @item.Category.Name
                    </span>

                    <h6 class="mt-2">@item.Price ₺</h6>

                    <div class="mt-3">
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-primary btn-sm">
                            ✏️ Düzenle
                        </a>
                        <a asp-controller="Orders"
                           asp-action="AddToCart"
                           asp-route-menuItemId="@item.Id"
                           class="btn btn-warning btn-sm">
                            🛒 Sepete Ekle
                        </a>



                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm">
                            🗑️ Sil
                        </a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
<nav class="mt-4">
    <ul class="pagination justify-content-center">

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@i"
                   asp-route-search="@ViewBag.Search"
                   asp-route-categoryId="@ViewBag.CategoryId"
                   asp-route-minPrice="@ViewBag.MinPrice"
                   asp-route-maxPrice="@ViewBag.MaxPrice">
                    @i
                </a>
            </li>
        }

    </ul>
</nav>
